<h1>This is revanth </h1>
<!--One way data binding
<h2>One Way data Binding example-01</h2>
{{10+10}}
<br>  
{{10-10}}

<h1>{{heading}}</h1>
<h2>One Way data Binding example-02</h2>
<p>{{msg}}</p>
Developer Name:{{name}}

<h2>One Way data Binding example-03</h2>
{{e1|json}} <br/>
{{e2|json}} <br/>

Id:{{e1.id}} <br/>
Ename:{{e1.ename}}<br/>


Id:{{e2.id}} <br/>
Ename:{{e2.ename}}<br/>


<h2>One Way data Binding example-04</h2>
{{square(10)}}<br/>
{{cube(10)}}<br/>
{{add(10,20)}}<br/>
{{big(10,20)}}<br/>

<h2>two Way data Binding example-01</h2>
Enter Name at Source :
<input type="text"[(ngModel)]="name"/><hr/>

{{name}}<hr/>

Enter Name at target:
<input type="text" [(ngModel)]="name"/>

<h2>two Way data Binding example-02</h2>
Enter Name:
<input type="text"[(ngModel)]="name"/><hr/>
{{"UPPER CASE IS "+ name.toUpperCase()}}<br/>
{{"lower case is "+ name.toLowerCase()}}<br/>
{{"length of  "+ name +" is "+name.length}}<br/>


<h2>two Way data Binding example-04</h2>
 Choose Launguage:
 <select [(ngModel)]='launguage'>
   <option value="KANNADA">kannada</option>
   <option value="english">english</option>

 </select>

<h2>two Way data Binding example-03</h2>
Enter no1:
<input type="number"[(ngModel)]='a'/><br/>
Enter no2:
<input type="number"[(ngModel)]='b'/><br/>
{{"a= "+a",b="+b"}}<br/>
{{"Add of them is :"+ (a+b)}}

<h2>two Way data Binding example-05</h2>
<select [(ngModel)]='langs'multiple>
  <option value="KANNADA">kannada</option>
  <option value="english">english</option>
  <option value="hindi">hindi</option>


</select>

<h2>two Way data Binding example-06</h2>
<input type="radio" value="Mr."
name="gender"[(ngModel)]='gender'>Male

<input type="radio" value="Miss."
name="gender"[(ngModel)]='gender'>FeMale
<hr/>
{{gender}}

<h2>Event Binding ex-01</h2>
<button (click)='getMessage()'>Say Hello!</button>
{{msg}}

<h2>Event Binding ex-02</h2>
<button (click)='getMessage()'>Say Hello!</button>{{msg}}
<hr/>
<button (click)='clearMessage()'>clear</button>

<h2>Event Binding ex-03</h2>
<button (click)='getMessage("wishes")'>Say Hello!</button>
<button (click)='getMessage("date")'>Date</button>
<button (click)='getMessage("time")'>Time</button>
<button (click)='clearMessage()'>clear</button><hr/>
{{msg}}



<h2>Generate Component</h2>
<app-about></app-about>
<app-contact></app-contact>
<app-help></app-help>
<app-index></app-index>
<app-login></app-login>

<h2>Showing Event Binding Examples using component</h2>
<app-eb-ex01></app-eb-ex01>

<h2>Showing Event Binding Examples using component</h2>
<app-eb-ex02></app-eb-ex02>

<app-eb-ex03></app-eb-ex03>

<app-eb-ex04></app-eb-ex04>

<h2> Calling index which contains all egs root</h2>
<app-index></app-index>

<h2>Structural Directives</h2>
<app-sd-ex01></app-sd-ex01>

<h2> Calling index which contains all egs root and picking up one</h2>
<app-index></app-index>

<h2>Strutural directives example 2 </h2>
<app-sd-ex02></app-sd-ex02>

<h2>Strutural directives example 3</h2>
<app-sd-ex03></app-sd-ex03>

<h2>Strutural directives example 4</h2>
<app-sd-ex04></app-sd-ex04>

<h2>Property binding ex-01</h2>
<app-pb-ex01></app-pb-ex01>

<h2>Property binding ex-02</h2>
<app-pb-ex02></app-pb-ex02>

<h2>Grouping all structural directives in sdindex</h2>
<app-sdindex></app-sdindex>

<h2>Property binding examples in pbindex</h2>
<app-pbindex></app-pbindex>
-->

<!-- 
<div class="container">
    <div class="row">
        <h1> Angular Project</h1>
    </div>
    <div class="row">
        <input type="checkbox" [(ngModel)]='index' /> 
        Show Index
        <hr/>
        <app-index *ngIf='index'></app-index>
    </div>
</div> -->
<!-- <app-person-crud></app-person-crud> -->

<!-- <div class='container'>
  <app-customer></app-customer>
  
</div> -->
<div class="container">
  <div class="row">
      <h1> Angular Project</h1>
  </div>
  <div class="row">
     
  </div>
</div>
<app-employee-index></app-employee-index>